<h1 class= 'text-center'>Your Profile</h1>


<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6" >
      <div class="perso-cards">
        <div class="text-center">
          <h2>Your account details</h2>
          <% if @user.photo != nil %>
          <%= cl_image_tag @user.photo, class: "avatar-bordered" %>
          <% end %>
        </div>
        <br>
        <br>
        <ul>
          <li> <span class="bold">Name:</span> <%= @user.fullname  %></li>
          <li> <span class="bold">Address:</span> <%= @user.address %></li>
          <li> <span class="bold">Email:</span> <%= @user.email %></li>
          <% if @user.photo.url.nil? %>
          <h3>Upload your picture</h3>
          <%= simple_form_for(@user) do |f| %>
          <%= f.input :photo %>
          <%= f.input :photo_cache, as: :hidden %>
          <%= f.button :submit, "Add picture" %>
          <% end %>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="col-xs-12 col-md-6" >
      <div class="perso-cards">
        <div class="text-center">
          <h2>Your bookings</h2>
        </div>
        <ul>
          <% @bookings.each do |booking| %>
          <li> You booked <%= booking.item.name %> for <%= booking.number_of_days %> day from <%= booking.item.user.fullname %> starting from <%= booking.date %> </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<% unless @items.empty? %>
<div class="person-objects">
  <h2 class="text-center">Your objects for rent</h2>
  <%= render "shared/card" %>
</div>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-3 col-md-offset-3">
      <div class="btn-space text-center btn-group">
        <%= link_to "Find an object!", items_path, :class => "btn btn-success" %>
      </div>
    </div>
    <div class="col-xs-12 col-md-3 col-md-offset-1">
      <div class="btn-space text-center btn-group">
        <%= link_to "Add a new Object", new_item_path, :class => "btn btn-success" %>
      </div>
    </div>
  </div>
</div>


