<div class="container">
  <div class="row">
    <% @items.each do |item| %>
    <div class ="col-xs-12  col-sm-6 col-md-3" >
      <div class="card">
        <div class="image-card"
        style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
        url('<%= cl_image_path item.photo, height: 700, width: 1000, crop: :fill ; %>')">
        <div class="card-category">
         <%= cl_image_tag item.user.photo, class: "avatar" %>
       </div>
       <div class="card-description">
        <%= link_to item_path(item) do %>
        <h2> <%= item.name %> </h2>
        <% end %>
      </div>
    </div>
    <h3>
      <span class="fa fa-credit-card-alt" aria-hidden="true">
      </span>  <%= item.price %>
      <i class="fa fa-eur" aria-hidden="true"></i> / Day
    </h3>
  </div>
</div>
<% end %>
</div>
</div>
