<div class="container">
  <div class="row">

    <div class="col-xs-12 col-sm-6 col-md-8">
      <div class="item-frame">
        <div class="item-card" style=" background-image: url('<%= cl_image_path @item.photo , crop: :fill %>');">
            <h1><%= @item.name %></h1>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-4">
      <div class="item-frame item-text-card">
        <div>
          <h2>Description: </h2>
          <p><%= @item.description %></p>
        </div>
        <div>
          <h2>Price: </h2>
          <p><span class="fa fa-credit-card-alt" aria-hidden="true">
          </span>  <%= @item.price %>
          <i class="fa fa-eur" aria-hidden="true"></i> / Day</p>
        </div>

        <h2>Owner: </h2>
        <div class="av-center">
          <% if @user.photo.url != nil %>
          <%= cl_image_tag @user.photo, class: "avatar-bordered" %>
          <% end %>

          <p> <%= @item.user.fullname %></p>

          <div class="btn-group">
            <%= link_to "Book this object!", new_item_booking_path(@item), :class => "item-card-button" %>
          </div>

          <div class="btn-group">
            <% if @user == current_user %>
              <%= link_to "Delete this object!", item_path(@item), method: :delete, :class => "item-card-button" %>
              <% end %>
          </div>
      </div>
    </div>
  </div>
</div>

